@import 'variables';
@import 'fonts';

@media(max-width: 758px) {
    .projects_project {
        width: 95% !important;
    }
}

@media(max-width: 1090px) {
    .projects_project {
        width: 49% !important;
    }
}

.projects {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    
    &_list {
        display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
    }
    
    &_project {
        width: 33%;
        
        &_figure {
            background-color: $bg-section;
            box-shadow: 0 0 5px #0000002e;
            border-radius: 0.5rem;
            margin-block: 0;
            margin-inline: 0;
            margin: 1rem;
            
            &_img {
                width: 100%;
                border-radius: 0.5rem;
                object-fit: cover;
            }
        }

        &_figcaption {
            display: none;
        }
    }
}