@import 'variables';
@import 'fonts';

@media(max-width: 768px) {
    .cross {
        top: 125px !important;
    }
    
    .slideshow {
        &_container {
            &_img {
                height: 690px !important;
            }
        }
    }
}

.modal_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(233, 233, 233, 0.9);
}

.cross {
    position: absolute;
    top: 88px;
    right: 20px;
    font-size: 25px;
    color: $primary-clr;
    background-color: white;
    padding: 0.2rem 0.5rem 0.1rem 0.5rem;
    border-radius: 2rem; 
    z-index: 2001;
    cursor: pointer;
    transition: transform 350ms ease-in-out;
    &:hover {
        transform: rotate(180deg);
    } 
}

.slideshow {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 1rem auto;
    position: relative;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    &:hover {
        .slideshow_idx {
            opacity: 1;
        }
    }

    &_container {
        display: flex;
        align-items: center;
        transition: transform .5s ease;

        &_img {
            flex-shrink: 0;
            width: 100%;
            height: 780px;
            object-fit: contain;
            scroll-snap-align: start;
        }
    }

    &_controls {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 10px;
        
        &_chevron {
            width: 50px !important;
            height: auto !important;
            font-size: 25px;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }

    &_idx {
        position: absolute;
        bottom: 35px;
        color: white;
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 0.2rem 0.4rem;
        border-radius: 0.3rem;
        opacity: 0.5;
        font-family: 'OpenSans';
        transition: opacity 250ms ease-in-out;
    }
}