@import 'variables';
@import 'fonts';

@media(max-width: 768px) {
    .project_page {
        margin: 150px auto 0px auto !important;
        width: 90% !important;
        
        &_pres {
            width: 100% !important;
        }

        &_cover {
            width: 100%;
            margin-top: 30px !important;
            &_title {
                margin-bottom: 23px !important;
                &_1 {
                    border-bottom: 1px solid #0000002e;
                    padding-bottom: 1.4rem;
                    margin-bottom: -0.2rem !important;
                }
            }

            &_imgs {
                margin-bottom: 1rem;
            }

            &_img {
                width: 100% !important;
                border-bottom: 1px solid #0000002e;
                box-shadow: none !important;
                border-radius: 0 !important;
                margin: 0 !important;
                background-color: transparent !important;
                
                &_fulltab {
                    width: 95% !important;
                }
            }
        }

        &_ui {
            flex-direction: column;
            &_img_colors {
                padding-bottom: 0.5rem !important;
            }
        }

        &_footer {
            flex-direction: column;
            
            &_link {
                width: 90% !important;
                margin-bottom: 0.3rem !important;
                &_1 {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 1100px) {
    .project_page {
        &_pres {
            width: 100% !important;
        }
        
        &_cover_img {
            width: 95% !important;
        }
        &_footer_link {
            width: 50%;
        }
    }
}

.project_page {
    margin: 120px auto 30px auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
        margin-top: 7px;
        font-family: 'Raleway-Bold';
    }
    & h2 {
        margin-top: 17px;
        margin-bottom: 17px;
    }

    &_pres {
        width: 50%;
        padding: 1rem;
        
        &_article {
            border-top: 1px solid #0000002e;
        }

        &_logos {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
            &_logo {
                width: 60px;
                margin: auto 0.5rem;
            }
        }
    }

    &_cover {
        width: 100%;
        padding: 1rem;
        margin-top: 30px;
        
        &_title {
            margin-top: 7px;
            margin-bottom: 17px;
            font-size: 25px;
        }

        &_imgs {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        &_img {
            width: 30%;
            object-fit: cover;
            background-color: rgba(187, 187, 187, 0.18);
            @include border-elmt;
            
            &_fulltab {
                width: 40%;
                @include border-elmt;
            }

            &_etap {
                width: 46%;
            }
        }
    }

    &_ui {
        display: flex;
        
        &_title {
            margin: -0.5rem 0 0.5rem 0;
            font-size: 21px;
        }

        &_img {
            margin-bottom: 0.5rem;
            
            &_colors {
                margin-right: 2rem;
                width: 11rem;
            }
            
            &_icons {
                width: 8rem;
            }
        }
    }

    &_footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 1rem auto 0 auto;

        &_link {
            background: transparent;
            padding: 0.5rem 1rem;
            margin-bottom: 0.9rem;
            border-radius: 0.5rem;
            width: 43%;
            text-align: center;
            border: 2px solid rgba(0, 0, 0, 0.6);
            transition: all 400ms ease-in-out;
            &:hover {
                color: white !important;
                background-color: $secondary-clr;
                box-shadow: $box-shadow-elmt;
            }
        }
    }
}