@import 'variables';
@import 'fonts';
@import 'Header';
@import 'Intro';
@import 'DisplayProjects';
@import 'ProjectItem';
@import 'ProjectPage';
@import 'NoMatch';
@import 'Footer';

@media(max-width: 768px) {
    html {
        background: url('img/portfolio-bg1.jpeg') !important;
        background-size: auto !important;
    }
}

html {
    position: relative;
    background: url('img/portfolio-bg1.jpeg') fixed no-repeat;
    background-size: cover;
    font-family: 'Raleway';
    font-size: 17px;
    color: $primary-clr;
    margin: auto;
    min-height: 100%;
}

a {
    font-family: 'Raleway-Medium';
    text-decoration: none;
    color: $primary-clr;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
}

.background_section {
    background-color: $tertiary-clr;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px #0000002e;
    border-radius: $border-radius-elmt;
}