@import 'variables';
@import 'fonts';
@import 'Header';
@import 'Intro';
@import 'DisplayCards';
@import 'Footer';
@import 'ProjectPage';

@media(max-width: 768px) {
    html {
        background: url('img/portfolio-bg1.jpeg') !important;
        background-size: auto !important;
    }
}

html {
    position: relative;
    background: url('img/portfolio-bg1.jpeg') fixed no-repeat;
    background-size: cover;
    font-family: 'Raleway';
    font-size: 17px;
    color: $txt-color;
    max-width: 2400px;
    margin: auto;
}

a {
    font-family: 'Raleway-Medium';
    text-decoration: none;
    color: $txt-color;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
}

.bold {
    font-family: 'Raleway-Medium';
}